<!DOCTYPE html>
<html>
  <head>
    <title>Snake</title>
	<link href="{{url_for('static', filename = 'snake.css')}}" rel="stylesheet">
  </head>
  <body>
	<h1>Snake</h1>
	<h3>Points: <div></div></h3>
	<div></div>
	<h4>Use arrows to manage the snake motion.</h4>
	<script src="{{url_for('static', filename = 'snake.js')}}"></script>
  </body>
</html>